.card {
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

.cardBody {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBodEdit {
    margin: 0 auto;
}

.editCardButton {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editCardButton:hover {
    background-color: #0056b3;
}

.deleteButton {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #c82333;
}

.modalBody {
    padding: 10px;
    display: flex-wrap;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-top: 10px;
}

.editButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #007bff;
    width: 50px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editButton:hover {
    background-color: #0056b3;
}

.deleteButton {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #c82333;
}

.createCardButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
}

.createCardButton:hover {
    background-color: #0056b3;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
}

.input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.textArea {
    min-width: 400px;
    min-height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}