.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 20px
}

.modalBody {
    display: flex-wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: auto;
    margin: 20px
}

.searchInput {
    width: 600px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.searchButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #0056b3;
}