.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 20px
}

.searchInput {
    width: 900px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.searchButton {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #0056b3;
}