/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/searchBar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.searchBar_searchContainer__UY8vp {
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchBar_column__4_JZy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 20px
}

.searchBar_searchInput__801Ul {
    width: 900px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.searchBar_searchButton___s7dh {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.searchBar_searchButton___s7dh:hover {
    background-color: #0056b3;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/modal.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.modal_modal__gGnuY {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Затемнение фона */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_modalContent__AWJ2M {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

.modal_close__Ry7Gj {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #aaa;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/createBoardButton.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.createBoardButton_createBoardButton__AMfl1 {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
}

.createBoardButton_createBoardButton__AMfl1:hover {
    background-color: #0056b3;
}

.createBoardButton_title__MPxBB {
    font-size: 24px;
    margin-bottom: 10px;
}

.createBoardButton_input__FmuSr {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.createBoardButton_button__cwlKj {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.createBoardButton_button__cwlKj:hover {
    background-color: #0056b3;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/card.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.card_card__ppk8h {
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

.card_cardBody__yCjS5 {
    padding: 0;
}

.card_buttons__JNCaz {
    margin-top: 10px;
}

.card_editButton__dV5X_ {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card_editButton__dV5X_:hover {
    background-color: #0056b3;
}

.card_deleteButton__1ZKHO {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card_deleteButton__1ZKHO:hover {
    background-color: #c82333;
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/column.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.column_columnContainer__SVcmK {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.column_column__X_wAj {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 360px;
}

.column_title__V113G {
    font-size: 18px;
    margin-bottom: 10px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/addCard.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.addCard_card__CEqTs {
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

.addCard_cardBody__OyAib {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addCard_modalBody__Fbac6 {
    padding: 10px;
    display: flex-wrap;
    justify-content: center;
    align-items: center;
}

.addCard_buttons__216cg {
    margin-top: 10px;
}

.addCard_editButton__dpbRk {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #007bff;
    width: 50px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addCard_editButton__dpbRk:hover {
    background-color: #0056b3;
}

.addCard_deleteButton__ph_MC {
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addCard_deleteButton__ph_MC:hover {
    background-color: #c82333;
}

.addCard_createCardButton__cd2wv {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
}

.addCard_createCardButton__cd2wv:hover {
    background-color: #0056b3;
}

.addCard_title__h_XU2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.addCard_input__kRF3M {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.addCard_textArea__9iEM3 {
    min-width: 400px;
    min-height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.addCard_buttonContainer__j_Z5t {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.addCard_button__a_Kx_ {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.addCard_button__a_Kx_:hover {
    background-color: #0056b3;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/board.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.board_container__mPr0G {
    display: flex-wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.board_head__ot3E_ {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.board_column__JruH_ {
    display: flex;
}

.board_title__wv_42 {
    font-size: 60px;
    margin-bottom: 10px;
}
