/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/searchBar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.searchBar_searchContainer__UY8vp {
    display: flex;
    align-items: center;
}

.searchBar_searchInput__801Ul {
    flex: 1 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.searchBar_searchButton___s7dh {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.searchBar_searchButton___s7dh:hover {
    background-color: #0056b3;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/card.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.card_card__ppk8h {
    width: 300px;
    /* Ширина карточки */
    margin: 20px auto;
    /* Расположение по центру */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Тень */
    border-radius: 10px;
    /* Скругленные углы */
    padding: 20px;
    /* Внутренний отступ */
    background-color: #fff;
    /* Цвет фона */
}

.card_cardBody__yCjS5 {
    padding: 0;
    /* Убираем внутренний отступ у тела карточки */
}

.card_buttons__JNCaz {
    margin-top: 10px;
    /* Отступ между кнопками */
}

.card_editButton__dV5X_ {
    margin-right: 5px;
    /* Отступ между кнопками */
    padding: 5px 10px;
    /* Отступы внутри кнопки */
    background-color: #007bff;
    /* Цвет фона */
    color: #fff;
    /* Цвет текста */
    border: none;
    /* Убираем границу */
    border-radius: 5px;
    /* Скругленные углы */
    cursor: pointer;
    /* Задаем указатель при наведении */
}

.card_editButton__dV5X_:hover {
    background-color: #0056b3;
    /* Цвет фона при наведении */
}

.card_deleteButton__1ZKHO {
    padding: 5px 10px;
    /* Отступы внутри кнопки */
    background-color: #dc3545;
    /* Цвет фона */
    color: #fff;
    /* Цвет текста */
    border: none;
    /* Убираем границу */
    border-radius: 5px;
    /* Скругленные углы */
    cursor: pointer;
    /* Задаем указатель при наведении */
}

.card_deleteButton__1ZKHO:hover {
    background-color: #c82333;
    /* Цвет фона при наведении */
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/addCard.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.addCard_card__CEqTs {
    width: 300px;
    /* Ширина карточки */
    margin: 20px auto;
    /* Расположение по центру */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Тень */
    border-radius: 10px;
    /* Скругленные углы */
    padding: 20px;
    /* Внутренний отступ */
    background-color: #fff;
    /* Цвет фона */
}

.addCard_cardBody__OyAib {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addCard_buttons__216cg {
    margin-top: 10px;
    /* Отступ между кнопками */
}

.addCard_editButton__dpbRk {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #007bff;
    width: 50px;
    height: 50px;
    color: #fff;
    border: none;
    border-radius: 5px;
    /* Скругленные углы */
    cursor: pointer;
    /* Задаем указатель при наведении */
}

.addCard_editButton__dpbRk:hover {
    background-color: #0056b3;
    /* Цвет фона при наведении */
}

.addCard_deleteButton__ph_MC {
    padding: 5px 10px;
    /* Отступы внутри кнопки */
    background-color: #dc3545;
    /* Цвет фона */
    color: #fff;
    /* Цвет текста */
    border: none;
    /* Убираем границу */
    border-radius: 5px;
    /* Скругленные углы */
    cursor: pointer;
    /* Задаем указатель при наведении */
}

.addCard_deleteButton__ph_MC:hover {
    background-color: #c82333;
    /* Цвет фона при наведении */
}
